<div ng-controller="UsersStatusController">
    <br />
    <table class="table-striped table-bordered table" style="width:800px; border-bottom: 0px; border-right: 0px; border-left: 0px;" align="center">
        <thead>
        <tr>
            <td>UserId</td>
            <td>
                <a href="#/users" ng-click="orderByField='FirstName'; reverseSort = !reverseSort">First Name</a>
                <span ng-show="orderByField != 'FirstName'" class="glyphicon glyphicon-sort"></span>
                <span ng-show="!reverseSort && orderByField == 'FirstName'" class="glyphicon glyphicon-sort-by-alphabet"></span>
                <span ng-show="reverseSort && orderByField == 'FirstName'" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
            </td>
            <td>
                <a href="#/users" ng-click="orderByField='LastName'; reverseSort = !reverseSort">Last Name</a>
                <span ng-show="orderByField != 'LastName'" class="glyphicon glyphicon-sort"></span>
                <span ng-show="!reverseSort && orderByField == 'LastName'" class="glyphicon glyphicon-sort-by-alphabet"></span>
                <span ng-show="reverseSort && orderByField == 'LastName'" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
            </td>
            <td>
                <a href="#/users" ng-click="orderByField='Name'; reverseSort = !reverseSort">Group</a>
                <span ng-show="orderByField != 'Name'" class="glyphicon glyphicon-sort"></span>
                <span ng-show="!reverseSort && orderByField == 'Name'" class="glyphicon glyphicon-sort-by-alphabet"></span>
                <span ng-show="reverseSort && orderByField == 'Name'" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
            </td>
            <td>
                <a href="#/users" ng-click="orderByField='LastLoginDate'; reverseSort = !reverseSort">Last login</a>
                <span ng-show="orderByField != 'LastLoginDate'" class="glyphicon glyphicon-sort"></span>
                <span ng-show="!reverseSort && orderByField == 'LastLoginDate'" class="glyphicon glyphicon-sort-by-alphabet"></span>
                <span ng-show="reverseSort && orderByField == 'LastLoginDate'" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
            </td>
            <td>
                <a href="#/users" ng-click="orderByField='currentLocation'; reverseSort = !reverseSort">Status</a>
                <span ng-show="orderByField != 'currentLocation'" class="glyphicon glyphicon-sort"></span>
                <span ng-show="!reverseSort && orderByField == 'currentLocation'" class="glyphicon glyphicon-sort-by-alphabet"></span>
                <span ng-show="reverseSort && orderByField == 'currentLocation'" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users | orderBy:orderByField:reverseSort">
            <td>{{user.UserID}}</td>
            <td>{{user.FirstName}}</td>
            <td>{{user.LastName}}</td>
            <td>{{user.Name}}</td>
            <td>{{user.LastLoginDate | date:'MM/dd/yyyy'}} {{user.LastLoginTime | date:' h:mma'}}</td>
            <td>
                <div ng-switch="user.LastLoginReaderID">
                    <div ng-switch-when="1" style="color: #a94442;">{{user.currentLocation}}</div>
                    <div ng-switch-when="1001" style="color: #3c763d">{{user.currentLocation}}</div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>