<div cg-busy="{promise: loadingPromise, message:'Загрузка...'}" ng-controller="WorkCalendarController" class="panel-body">
    <div class="row" style="width: 60%">
        <div class="col-md-3">
            <p class="input-group">
                <span class="input-group-addon">Date from:</span>
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtFrom" is-open="openedFrom"
                       datepicker-options="dateOptionsFrom" ng-required="true" close-text="Close" min-date="dtFromMin" max-date="dtFromMax" ng-change="changedFrom()"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="col-md-3">
            <p class="input-group">
                <span class="input-group-addon">Date to:</span>
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtTo" is-open="openedTo"
                       datepicker-options="dateOptionsTo" ng-required="true" close-text="Close" min-date="dtToMin" max-date="dtToMax" ng-change="changedTo()" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="col-md-3"><span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="reload(dtFrom, dtTo)">Reload</button></span></div>
    </div>
    <table class="table-striped table table-bordered" style="border-bottom: 0px; border-right: 0px; border-left: 0px;">
        <thead>
            <th style="min-width: 200px">
                <a href="#/workCalendar" ng-click="orderByField='lastName'; reverseSort = !reverseSort">User</a>
                <span ng-show="orderByField != 'lastName'" class="glyphicon glyphicon-sort"></span>
                <span ng-show="!reverseSort && orderByField == 'lastName'" class="glyphicon glyphicon-sort-by-alphabet"></span>
                <span ng-show="reverseSort && orderByField == 'lastName'" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
            </th>
            <th style="min-width: 100px" ng-repeat="date in events.dates">{{date | date:'MM/dd/yyyy'}}</th>
        </thead>
        <tbody>
            <tr ng-repeat="user in events.users | orderBy:orderByField:reverseSort">
                <td>{{user.lastName}} {{user.firstName}}</td>
                <td ng-repeat="workTime in user.formattedWorkTime track by $index">{{workTime}}</td>
            </tr>
        </tbody>
    </table>
</div>